.site-background
  .container
    .center-frame
      %h1 Welcome to Trivia Club
      %p.paragraph As a Trivia Club member, you can try your hand at any or all of our user-created trivia questions. You can also rate questions or create your own.
      %hr
      %p.paragraph To begin, you must become a Trivia Club member by creating an account.
      .row
        .col.col-sm-12.center
          = link_to "Create a Trivia Club account", new_account_path, class: "btn btn-default btn-custom"
      %p.paragraph Already a member? Log in below.
      .row
        = form_tag log_in_path, :method => :post do
          .col.col-sm-5
            .form-input.row
              .col.col-sm-4
                = label_tag "Username"
              .col.col-sm-6
                = text_field_tag "Username", ""
              .col.col-sm-2.center
                %i.icon-ok-sign.success
            .form-input.row
              .col.col-sm-4
                = label_tag "Password"
              .col.col-sm-6
                = text_field_tag "Password", ""
              .col.col-sm-2.center
                %i.icon-remove-sign.err
            .col-sm-12.center
              = submit_tag "Submit", class: "btn btn-default btn-custom", id: "submit"
          .col.col-sm-2
            %p.paragraph.center or
          .col.col-sm-5.center
            = link_to "Log in with Facebook", facebook_log_in_path, class: "btn btn-default"
