%p.paragraph As a Trivia Club member, you can try your hand at any or all of our user-created trivia questions. You can also rate questions or create your own.
%hr
- unless user_signed_in?
  %p.paragraph To begin, you must become a Trivia Club member by creating an account.
  .row
    .col.col-sm-12.center
      = link_to "Create a Trivia Club account", new_user_registration_path, class: "btn btn-default btn-custom"
  %p.paragraph Already a member? Log in below.
  .row
    .col.col-sm-12.center
      = link_to "Log in", new_user_session_path, class: "btn btn-default"
- else
  %p.center
    %span Welcome! You are logged in as
    %span{style: "text-decoration: underline;"} #{current_user.email}
    %span=" | "
    =link_to "Log out", destroy_user_session_path, :method => :delete
  .row
    .col.col-sm-6.center
      %p See how good you are. Take our quiz.
      = link_to "Take quiz", trivia_path, class: "btn btn-default"
    .col.col-sm-6.center
      %p How about making a question of your own?
      = link_to "Create new question", new_trivium_path, class: "btn btn-default"
